.text-center
  %h1
    TUCHOはあなたの「お金」が見える家計簿です
  %p
    「お給料日はあんなにお金があったのに、あれ?」ということありませんか
    %br/
    TUCHOはそんなあなたのためのWEB家計簿です。

  - if current_user
    %p
      = "#{current_user.email} さんまた使っちゃんたんですね"
  - else
    %h3
      さぁサインアップして利用を開始しましょう
