%h1 締め日設定

%table.table.table-condensed
  %thead
    %tr
      %th 締め日
      %th

  %tbody
    %tr
      %td= display(@user_salary_date.cutoff)
      %td= link_to '変更', edit_salary_date_path(@user_salary_date)
