// Variable
$c_title:  #92a8d1;
$c_normal: #555;

// positioning
.box-center{
  margin-left: auto;
  margin-right: auto;
}

.box-middle{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// text-positioning
.text-center{
  text-align: center;
}

// Shadow
.shadow {
  box-shadow: 2px 2px 2px rgba(204,204,204, 0.4);
}

.form-reset{
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border: 1px #ddd solid;
}

// margin
@mixin top-space ($margin-size){
  margin-top: $margin-size;
}

@mixin bottom-space ($margin-size){
  margin-bottom: $margin-size;
}

.space-half {
  margin-top: 20px;
  margin-bottom: 20px;
}

.space-top-half {
  margin-top: 20px;
}

.space-bottom-half {
  margin-bottom: 20px;
}

// color
@mixin text-emphasis {
  color: #c8c935;
  font-weight: bold;
}

.alert {
  color: #900;
}

// anchor
a{
  text-decoration: none;
  color: #666;

  &:hover{
    color: #999;
  }
}

.btn {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  text-decoration: none;
  padding: 5px 12px;
  font-size: 90%;
  @extend .shadow;

  &.btn-normal{
    width: 150px;
    background-color: rgba(146, 168, 209, 1);
    color: #fff;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border: 0;
    font-weight: lighter;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
      color: #666;
    }
  }

  &.btn-info{
    width: 150px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border: 0;
    font-weight: lighter;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
      color: #666;
    }
  }
}

p {
  margin: 0;
}

// H1 - H5

h3 {
  margin-top: 40px;
  border-left: 4px solid #92a8d1;
  padding-left: 5px;
}

h4 {
  font-size: 120%;
  padding-left: 5px;
}

// Table

table.table {
  @extend .box-center;

  tr {
    th {
      width: 200px;
      background-color: #cccccc;
      color: #fff;
      padding: 5px 0px 5px 0px;

      &.transparent{
        background-color: transparent;
      }
      &.icon{
        width: 50px;
      }
    }

    td{
      @extend .text-center;
      padding: 5px 0px 5px 0px;

      &.odd {
        background-color: #fff;
      }

      &.even {
        background-color: #edf5f5;
      }
    }
  }
  &.shadow{
    @extend .shadow
  }
}