// Global Menu

.globalmenu {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  margin: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;

  .menu {
    width: auto;
    height: 50px;
    text-align: center;
    margin-top: 15px;
    @extend .box-center;

    span {
      list-style-type: none;
      margin: 0 50px 0 0;

      a.menu {
        text-decoration: none;
        color: #515151;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        font-size: 90%;

        &:hover{
          color: #919191;
        }

        i.fa {
          .fa-micro {
            font-size: 5px;
          }
        }
      }
    }
  }
  .signout {
    position: absolute;
    bottom: 0;
    right: 0;
    @extend .menu;

    span {
      .fa {
        margin-top: 20px;
      }
    }
  }
}

