/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// Modify Bootstrap

a {
  &.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
  }

  &.btn-normal{
    width: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    font-weight: bold;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
      color: #666;
    }
  }
}

// General

.vertical-middle{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.top-space{
  margin-top: 40px;
}

.top-space-half {
  margin-top: 20px;
}

.bottom-space {
  margin-bottom: 40px;
}

.bottom-space-half {
  margin-bottom: 20px;
}

// color

.text-emphasis {
  color: #c8c935;
}

// Global Menu

.globalmenu {
  position: fixed;
  bottom: 0%;
  left: 0%;
  height: 50px;
  margin: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
  margin:0 auto;

  ul {
    text-align: center;

    li {
      list-style-type: none;
      margin: 0 10px;
      float: left;

      a.menu {
        text-decoration: none;
        color: #515151;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;

        &:hover{
          color: #919191;
        }

        i.fa {
          font-size: 30px;
        }
      }
    }

    &:after{
      clear: both;
    }
  }
}


// Elements

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Times New Romen", "游明朝体 ミディアム";
  color: #414141;
  line-height: 150%;

  .wrapper{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("/img/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-color: #fff;

    .container{
        margin: 0 auto;
      .content {
        margin: 0 auto;

        img.title{
          width: 540px;
        }

        img.description{
          width: 450px;
          margin: 10px;
        }
        img.separater {
          width: 540px;
        }
      }
    }
  }
}

// .header-bar{
//   margin: 0;
//   padding: 0;
//   height: 25px;
// }


// table.account-table{
//   width: 600px;
//   margin: 0 auto;
// }

// .account-table tr{
//   width: 300px;
//   border: 0px;
//   margin: 0 auto;
// }

// .account-table td{
//   width: 300px;
//   padding: 10px;
//   text-align: left;
// }

// .account-table th{
//   text-align: right;
// }

// .space{
//   margin-bottom: 40px;
// }